.headerBackground{
    background-color: rgb(8, 134, 124);
}

.container {
    display: flex;
    width: auto;
    color: black;
   
    align-items: center;
}

.subCat{
    
    padding: 70px;
    border: 0px solid;
    color: black;
    text-decoration:  none;
}
:active{
    text-decoration: none;
}

.brand {
    font-size: 24px;
    font-weight: 700;
    padding: 30px;
}
.searchbar {
    margin-right: 20px;
}
.login {
    margin-right: 20px;
        
}